* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* border-bottom: 8px solid #087f5b; */
  background-color: #f8f9fa;
  line-height: 1;
}
.accordion {
  width: 700px;
  margin: 100px auto;
}

.item {
  background-color: #fff;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 20px;
}
.number,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}
.text {
  color: #000;
}

.icon {
  width: 25px;
  stroke: #087f5b;
}

.item2 {
  border-top: 4px solid #087f5b;
}
.num2,
.text2 {
  color: #087f5b;
}
.hidden-box {
  grid-column: 2;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* 
.hidden-box li {
  margin-bottom: 10px;
} */
