* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* border-bottom: 8px solid #087f5b; */
  background-color: #f8f9fa;
}
.accordion {
  width: 700px;
  margin: 100px auto;
}

.item {
  display: flex;
  background-color: #fff;
  padding: 20px 20px;
}
.number {
  font-size: 23px;
  font-weight: 500;
  color: #ced4da;
}

.text {
  font-size: 25px;
}

.icon {
  width: 25px;
  color: #087f5b;
}
